                .pinky {
                    background-color: antiquewhite;
                }
                
                .msg {
                    text-align: justify;
                }
                
                li {
                    list-style-type: none;
                }